@import 'appBar'
@import 'home'
@import 'landing-page'
@font-face
  font-family Montserrat
  font-style normal
  src url(styles/fonts/Montserrat-Regular.ttf)
@font-face
  font-family Anton
  font-style normal
  src url(styles/fonts/Anton-Regular.ttf)
body
  background-color white
