.cardDestination
    display flex
    justify-content space-around
    padding 0 15%
    &__card
        display block
        background-color #15181b
        height 600px
        width 250px
        position relative
        &__img
            display block
            width 250px
            height 250px
            background-size cover
            background-position 50%
        &__icon
            filter invert(1)
            position absolute
            transition opacity .2s linear
        .-africa
            max-height 200px
            bottom 100px
        .-asia
            max-height 291px
            bottom 42px
        .-america    
            bottom 70px
            max-height 250px
        .-europa    
            max-height 220px
            bottom 107px
        &__text
            display block
            font-size 30px
            left 50%
            color white
            position absolute
            bottom 80px
            transform translateX(-50%)
            text-transform capitalize
        &__cta
            display block
            font-size 10px
            left 50%
            color white
            position absolute
            bottom 25px
            transform translateX(-50%)
            text-transform capitalize
            border 1px solid white
            padding 0px 15px
            opacity .75
            border-radius 1px
            text-transform uppercase
            height 30px
            line-height 28px
            font-weight 700
            transition all .2s linear
            &:hover
                border 1px solid #ffde00
                opacity 1
                color #ffde00