.appBar {
  background-color: #000;
  color: #fff;
  height: 80px;
  padding: 0 20px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  max-width: 100vw;
}
.appBar__container {
  margin: 0px auto;
  max-width: 960px;
  background-color: #000;
}
.appBar__container__link {
  text-decoration: none;
  color: #fff;
}
.home {
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 200px);
  padding-top: 100px;
}
.home__title {
  margin-bottom: 200px;
}
.landing-page {
  background-color: #fff;
  background: url('http://api.thumbr.it/whitenoise-361x370.png?background=fafafaff&noise=595959&density=47&opacity=5');
  min-height: 100vh;
  padding-bottom: 40px;
}
.landing-page__header {
  height: 60vh;
  max-height: 100%;
  background-color: #000;
  position: relative;
  margin-bottom: 100px;
  font-family: 'Anton';
}
.landing-page__header__bgimage {
  max-height: inherit;
  height: inherit;
}
.landing-page__header__bgimage__image {
  object-fit: cover;
  max-height: inherit;
  height: inherit;
  width: 100vw;
  filter: brightness(70%);
}
.landing-page__header__bgimage__text-container {
  position: absolute;
  top: 0;
  color: #fff;
  transform: translate(-50%, 0);
  left: 50%;
  padding: 0px 15px;
  height: 100%;
  width: 100%;
  max-width: 960px;
}
.landing-page__header__bgimage__text-container__sub {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}
.landing-page__header__bgimage__text-container__sub__title {
  font-size: 5.5em;
  line-height: 1em;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 0.02em;
}
.landing-page__header__bgimage__text-container__sub__country-continent {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.landing-page__body {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 200px;
  font-family: 'Montserrat';
}
.landing-page__body__text {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 100px;
}
.landing-page__body__carrousel {
  height: 500px;
  width: 100%;
  max-width: 960px;
  background-color: transparent;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  position: relative;
  justify-content: center;
}
.landing-page__body__carrousel__inner {
  display: flex;
  position: absolute;
  height: 100%;
  width: inherit;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  max-width: 750px;
}
.landing-page__body__carrousel__inner__image-container {
  user-select: none;
  background: transparent;
  border: none;
  outline: none;
  max-width: 250px;
  max-height: 250px;
  height: 100%;
  width: 100%;
  padding: 0;
}
.landing-page__body__carrousel__inner__image-container:hover {
  background: url('img/eye-icon.png') center center no-repeat;
}
.landing-page__body__carrousel__inner__image-container__image {
  max-height: inherit;
  max-width: 250px;
  max-height: 250px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.4s ease;
  display: block;
  cursor: pointer;
}
.landing-page__body__carrousel__inner__image-container__image:hover {
  opacity: 0.3;
  filter: opacity(0.5);
}
.landing-page__body__carrousel__inner__image-container__text {
  font-family: 'Montserrat';
  display: block;
  position: absolute;
  display: flex;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #000;
  z-index: 1;
  color: #fff;
  height: 50px;
  text-align: center;
  padding: 5px 10px;
  box-sizing: border-box;
  font-size: 1.1em;
  opacity: 0;
  padding-top: 10px;
}
.landing-page__body__carrousel__inner__image-container.-selected {
  height: 500px;
  width: 100%;
  max-width: 750px;
  position: absolute;
  z-index: 1;
  min-height: 100%;
  left: 0;
  background-color: #000;
}
.landing-page__body__carrousel__inner__image-container.-selected
  .landing-page__body__carrousel__inner__image-container__image {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  transition: opacity 1s;
  animation: slide 0.6s;
}
.landing-page__body__carrousel__inner__image-container.-selected
  .landing-page__body__carrousel__inner__image-container__image:hover {
  opacity: 1;
  filter: opacity(1);
}
.landing-page__body__carrousel__inner__image-container.-selected
  .landing-page__body__carrousel__inner__image-container__text {
  opacity: 0.3;
  transition: opacity 1s;
}
.landing-page__body__carrousel__inner__image-container.-selected:hover
  .landing-page__body__carrousel__inner__image-container__text {
  opacity: 0.85;
}
.landing-page__body__carrousel__inner__close-container {
  z-index: 2;
  cursor: pointer;
  height: 30px;
  width: 30px;
  position: absolute;
  left: 15px;
  top: 15px;
  background: transparent;
  border: none;
  outline: none;
}
.landing-page__body__carrousel__inner__close-container__close {
  color: #fff;
  height: 30px;
  width: 30px;
  position: absolute;
  left: 0;
  top: 0;
}
.landing-page__body__carrousel__inner__counter {
  z-index: 2;
  color: #fff;
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 20px;
}
.landing-page__body__carrousel__inner__arrL-container__arrL {
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background: transparent;
  border: none;
  outline: none;
  transform: rotate(90deg);
  transform-origin: top;
  color: #000;
  cursor: pointer;
  height: 30px;
}
.landing-page__body__carrousel__inner__arrR-container__arrR {
  position: absolute;
  right: -75px;
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(270deg);
  transform-origin: left;
  z-index: 2;
  color: #000;
  cursor: pointer;
  height: 30px;
}
.landing-page__footer {
  font-family: 'Montserrat';
  width: 100vw;
}
.landing-page__footer__copyright {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
@-moz-keyframes slide {
  0% {
    filter: opacity(0.4);
  }
  100% {
    filter: opacity(1);
  }
}
@-webkit-keyframes slide {
  0% {
    filter: opacity(0.4);
  }
  100% {
    filter: opacity(1);
  }
}
@-o-keyframes slide {
  0% {
    filter: opacity(0.4);
  }
  100% {
    filter: opacity(1);
  }
}
@keyframes slide {
  0% {
    filter: opacity(0.4);
  }
  100% {
    filter: opacity(1);
  }
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  src: url('styles/fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: Anton;
  font-style: normal;
  src: url('styles/fonts/Anton-Regular.ttf');
}
body {
  background-color: #fff;
}
